<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <!-- Custom styles for this template -->
  <link rel='stylesheet' href='/stylesheets/browse.css' />
</head>

<body class="text-center">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #bebebe;">
    <a class="navbar-brand" href="/">PCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/petowners/<%= username %>">Profile</a>
        </li>
    
        <li class="nav-item logout-btn">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="top-word">
    <h1>Browse</h1>
  </div>
  <div class="search-box col-md-5 text-center">
    <form action="">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Pet Type</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Dog</a>
            <a class="dropdown-item" href="#">Puppy</a>
            <a class="dropdown-item" href="#">Cat</a>
            <a class="dropdown-item" href="#">Kitten</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated Category</a>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Search input with dropdown button">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th><span>Name</span></th>
                  <th><span>Member since</span></th>
                  <th class="text-center"><span>Status</span></th>
                  <th><span>Available Date</span></th>
                  <th><span>Daily Price</span></th>
                  <th><span>Place bid</span></th>
                </tr>
              </thead>
              <tbody>

                <% for (var i=0; i < avails.length; i++) { %>
                <tr>
                  <td>
                    <img src="/images/girl2.jpg" alt="">
                    <a href="/browse/<%= avails[i].username %>"
                      class="user-link"><%= avails[i].first_name+' '+avails[i].last_name %></a>
                    <span class="user-subhead">Caretaker</span>
                  </td>
                  <td>
                    2013/08/08
                  </td>
                  <td class="text-center">
                    <span class="label label-default">Active</span>
                  </td>
                  <td><%= avails[i].s_date.toISOString().slice(0,10) %> to
                    <%= avails[i].e_date.toISOString().slice(0,10) %></td>
                  <td>$100</td>
                  <td style="width: 20%;">
                    <button class="open-button" onclick="openBid()">Place Bid</button>

                    <div class="form-popup" id="myForm" name="bid_form">
                      <form class="form-container" action="/bid"  method="post"> 
                        <h1>Place Bid</h1>
                        <input type="hidden" id="pousername" name="pousername" value=<%= username %>>
                        <!-- <input type="hidden" id="startDate" name="startDate" value=<%= avails[i].s_date.toISOString().slice(0,10) %>> 
                        <input type="hidden" id="endDate" name="endDate" value = <%= avails[i].e_date.toISOString().slice(0,10) %>> -->
                        <input type="hidden" id="username" name="username" value=<%= avails[i].username %>>
                        <label for="bid amount"><b>Amount</b></label>
                        <input type="text" id="amount" placeholder="Bidding Amount" required="required" name="amount">
                    
                        <label for="pet name"><b>Pet Name</b></label>
                        <input type="text" id="petname" placeholder="Pet Name" required="required" name="petname">

                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" required="required" autofocus="autofocus" name="startDate" min=<%= avails[i].s_date.toISOString().slice(0,10) %> max =<%= avails[i].e_date.toISOString().slice(0,10) %> >

                        <label for="endDate">End Date</label>
                        <input type="date" id="endDate" required="required" autofocus="autofocus" name="endDate" min= <%= avails[i].s_date.toISOString().slice(0,10) %> max =<%= avails[i].e_date.toISOString().slice(0,10) %>>
                    
                        <button type="submit" class="btn">Confirm Bid</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                      </form>
                    </div>                    

                    <script>
                      function openBid() {
                        document.getElementById("myForm").style.display = "block";
                      }
                      
                      function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                      }
                      </script>

                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>