<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pet Owner Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      margin-top: 0px;
      background: #f5f5f5;
    }

    .ui-w-100 {
      width: 100px !important;
      height: auto;
    }

    .card {
      background-clip: padding-box;
      box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    }

    .user-view-table td:first-child {
      width: 9rem;
    }

    .user-view-table td {
      padding-right: 0;
      padding-left: 0;
      border: 0;
    }

    .text-light {
      color: #babbbc !important;
    }

    .card .row-bordered>[class*=" col-"]::after {
      border-color: rgba(24, 28, 33, 0.075);
    }

    .text-xlarge {
      font-size: 170% !important;
    }

    .btn-primary {
      background-color: #8da47e;
      border-color: #8da47e;
    }

    .btn-default {
      border-color: #8da47e;
    }

    .btn:hover {
      background-color: #466630;
      border-color: #466630;
    }

    .fa-check {
      color: #8da47e;
    }
  </style>
</head>

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #bebebe;">
    <a class="navbar-brand" href="/">PCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container bootdey flex-grow-1 container-p-y">

    <div class="media align-items-center py-3 mb-3">
      <img src="/images/girl2.jpg" alt="" class="d-block ui-w-100 rounded-circle">
      <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0"><%= firstName + " " + lastName%></h4>
      </div>
    </div>


    <div class="card mb-4">
      <div class="card-body">
        <table class="table user-view-table m-0">
          <tbody>
            <tr>
              <td>Registered:</td>
              <td>25/11/2019</td>
            </tr>
            <tr>
              <td>Username:</td>
              <td><%= username %></td>
            </tr>
            <tr>
              <td>Role:</td>
              <td>Pet Owner</td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>15 Hawthorn Lane</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2>Pets</h2>

    <% if (pets.length > 0) { %>
    <div class="card mb-4">
      <div class="table-responsive">
        <table class="table card-table m-0">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Animal Type</th>
              <th>Special Requirement</th>
            </tr>
            <% for(var i=0; i < pets.length; i++) { %>
            <tr>
              <td><%= pets[i].name %></td>
              <td><%= pets[i].animal_type %></td>
              <td><%= pets[i].special_requirement %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <% } else { %>
    <div class="card">
      <div class="card-body">
        You have no pets.
      </div>
    </div>
    <% } %>


    <a href="/bid" class="btn btn-primary btn-sm">Place Bid</a>&nbsp;

  </div>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>

</html>